<html>
<head>
	<title></title>
	<script src="../../../assets/js/jquery.js"></script>
  <script src="../../../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript">
$('a.clickMe').click(function(e)){
	e.preventDefault();
	$.ajax($(e.target).attr("href"),{
		cashe:false,
		success:function(data){
			$("#results").html(data);
		}
	});
})
</script>
</head>
<body>
<a href="abstract.php?manuscript_id=' .$manuscript_id . '" class="clickMe">hujhu</a>
<br><br><br><br>
<div id="results"></div>

</body>
</html>



